<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mg.dao.FriendMapper">
    <resultMap id="BaseResultMap" type="com.mg.model.Friend">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="user_id" property="userId" jdbcType="VARCHAR"/>
        <result column="list_id" property="listId" jdbcType="VARCHAR"/>
        <result column="friend_id" property="friendId" jdbcType="VARCHAR"/>
        <result column="friend_remark" property="friendRemark" jdbcType="VARCHAR"/>
        <result column="add_time" property="addTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, user_id, list_id, friend_id, friend_remark, add_time
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from friend
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from friend
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.mg.model.Friend" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
    insert into friend (id, user_id, list_id, 
      friend_id, friend_remark, add_time
      )
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=VARCHAR}, #{listId,jdbcType=VARCHAR}, 
      #{friendId,jdbcType=VARCHAR}, #{friendRemark,jdbcType=VARCHAR}, #{addTime,jdbcType=TIMESTAMP}
      )
  </insert>
    <insert id="insertSelective" parameterType="com.mg.model.Friend" useGeneratedKeys="true" keyProperty="id"
            keyColumn="id">
        insert into friend
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="userId != null">
                user_id,
            </if>
            <if test="listId != null">
                list_id,
            </if>
            <if test="friendId != null">
                friend_id,
            </if>
            <if test="friendRemark != null">
                friend_remark,
            </if>
            <if test="addTime != null">
                add_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=VARCHAR},
            </if>
            <if test="listId != null">
                #{listId,jdbcType=VARCHAR},
            </if>
            <if test="friendId != null">
                #{friendId,jdbcType=VARCHAR},
            </if>
            <if test="friendRemark != null">
                #{friendRemark,jdbcType=VARCHAR},
            </if>
            <if test="addTime != null">
                #{addTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.mg.model.Friend">
        update friend
        <set>
            <if test="userId != null">
                user_id = #{userId,jdbcType=VARCHAR},
            </if>
            <if test="listId != null">
                list_id = #{listId,jdbcType=VARCHAR},
            </if>
            <if test="friendId != null">
                friend_id = #{friendId,jdbcType=VARCHAR},
            </if>
            <if test="friendRemark != null">
                friend_remark = #{friendRemark,jdbcType=VARCHAR},
            </if>
            <if test="addTime != null">
                add_time = #{addTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.mg.model.Friend">
    update friend
    set user_id = #{userId,jdbcType=VARCHAR},
      list_id = #{listId,jdbcType=VARCHAR},
      friend_id = #{friendId,jdbcType=VARCHAR},
      friend_remark = #{friendRemark,jdbcType=VARCHAR},
      add_time = #{addTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>


    <select id="queryRelationStatus" parameterType="com.mg.model.Friend" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from friend
        where user_id = #{userId,jdbcType=VARCHAR} and friend_id = #{friendId,jdbcType=VARCHAR}
    </select>

    <delete id="deleteFriendByUserIdAndFriendId" parameterType="java.lang.String">
    delete
    from friend
    where user_id=#{userId,jdbcType=VARCHAR} and friend_id=#{friendId,jdbcType=VARCHAR}
  </delete>

    <update id="modifyListIdByUserIdAndFriendId" parameterType="java.lang.String">
    update friend
    set
    list_id = #{listId,jdbcType=VARCHAR}
    where
    user_id = #{userId,jdbcType=VARCHAR} and friend_id = #{friendId,jdbcType=VARCHAR}
  </update>

    <select id="queryFriendByListId" parameterType="java.lang.String" resultMap="BaseResultMap"
            resultType="java.util.List">
        select
        <include refid="Base_Column_List"/>
        from friend
        where user_id = #{userId,jdbcType=VARCHAR} and list_id = #{listId,jdbcType=VARCHAR}
    </select>

    <select id="queryFriendCountByListIdAndUserId" parameterType="java.lang.String" resultType="java.lang.Integer">
        select count(1)
        from friend
        where
        list_id=#{listId,jdbcType=VARCHAR} and user_id=#{userId,jdbcType=VARCHAR}
    </select>
</mapper>